pkgbase = upwork
	pkgdesc = Track your time for Hourly Payment Protection. Stay connected.
	pkgver = 5.8.0.36
	pkgrel = 1
	url = https://www.upwork.com/ab/downloads/?os=linux
	arch = x86_64
	license = custom
	depends = alsa-lib
	depends = gtk3
	depends = libxss
	depends = nss
	conflicts = upwork-beta
	source = https://upwork-usw2-desktopapp.upwork.com/binaries/v5_8_0_36_0c811ca196f04c1f/upwork_5.8.0.36_amd64.deb
	source = LICENSE
	sha256sums = 636c5be3e765b7c9c6ba91fee9e77e43f6f3c448430763072b08eef87372c12b
	sha256sums = 793d8d7bc0f088c48798bda3d5483972636c6b8c5dcd9aeaf85411f7d4547b38

pkgname = upwork
